.textColumn, .dateColumn, .numericColumn {
     float: left;
     margin: 3px;
}

.textColumn {
     width: 20%;
}

.dateColumn {
     text-align: right;
     width: 12%;
}

.dateColumn input {
     text-align: right;
     width: 90%;
}

.numericColumn {
     text-align: right;
     width: 80px;
}

.row {
     display: block;
     float: left;
     height: 25px;
     width: 99%;
}

#filter {
     border: 0.75px solid;
     display: block;
     margin-bottom: 5px;
     padding: 3px;
}

#filter select {
     width: 20%;
}

#bouncedChecks {
     display: block;
     height: 500px;
     overflow: auto;
     width: 100%;
}

#actions {
     bottom: 20px;
     display: block;
     float: left;
     position: fixed;
     right: 60px;
     text-align: right;
     width: 100%;
}

#actions input {
     width: 150px;
}

.wa-toolbar {
     display: none;
}
