language: smalltalk
sudo: false

os:
  - linux
  
smalltalk:
  - Pharo64-7.0 
  
addons:
  ssh_known_hosts: 192.142.172.175
  
before_install:
  - openssl ... -out travis_key.enc -d
  - chmod 0400 travis_key.enc
  - mv travis_key.enc ~/.ssh/id_rsa
  
deploy:
  provider: script
  skip_cleanup: true
  script: scripts/deploy.sh
